body {
  font-family: "Raleway", sans-serif;
  background-color: antiquewhite;
}

.nombre {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.55);
  border-color: rgba(255, 255, 255, 0.1);
}
/* Hero Section */

#Hero-Section {
  background-image: url("../img/fotografa.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 600px;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#Mis-trabajos {
  background-color: rgb(135, 168, 169);
}
/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }
}
